<nav>
    <div>
      <a href="/"><h1>Blog Wave</h1></a>
    </div>
    <div class="menuIcon">
      <img src="/menu.svg" alt="">
    </div>
    <ul>
      <li><a href="/">Blogs</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs/create">Add Blog</a></li>
      <li class="closeIcon"><img src="/close.svg" alt=""></li>
    </ul>
  </nav>