<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Me</h2>
    <p>Hi! I'm Mohayyad, a web developer. This blog was a test for my skills in backend and database.</p>
    <p>To build this website, I used: Node js / MongoDB / Express js and EJS template engine.</p>
    <p> I love connecting with others who share my passion for tech. Feel free to reach out through <a target="_blank" href="mailto:Mohayyad2.0@gmail.com">Mohayyad2.0@gmail.com</a> . Your feedback and suggestions are always welcome!</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>